/*

INTRODUCTORY PROGRAMMING COURSE

Software Engineering program at Chalmers University of Technology

Made by Johan Brook.

--------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #fff url('images/ribbon.png') repeat-x -25% -4px;
  font: 1em/1.5em "Open Sans", sans-serif;
  color: #444; }

body {
  margin: 0 5%;
  padding: 0; }

::selection {
  background-color: rgba(156, 153, 117, 0.2); }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0.75em; }

h1 {
  font-size: 1.8em;
  letter-spacing: -1px; }

h2 {
  font-weight: 600;
  font-size: 1.2em; }
  p ~ h2, ol ~ h2, ul ~ h2 {
    margin-top: 1.5em; }

.subhead {
  font-size: 1.2em; }

pre, code {
  font-family: "Courier", monospace; }

code {
  background-color: #f7f7f7;
  padding: 3px 4px;
  border: 1px solid #ccc;
  border-radius: 3px; }

pre {
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 1em;
  font-size: 0.9em; }

pre code {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0; }

a {
  color: #2F8EED;
  font-weight: 600;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #2F8EED; }

[role="banner"] {
  padding: 3em 0 3em;
  margin-bottom: 1.5em; }
  [role="banner"] h1 {
    font-family: Pacifico, "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 1.7;
    font-size: 4.6em;
    margin: 0; }
    [role="banner"] h1 em {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      display: block;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      color: #9C9975;
      position: relative;
      margin-left: 4em;
      top: 1em; }

p {
  margin: 0 0 1.5em; }

[role="contentinfo"] {
  margin: 4.5em 0;
  font-size: 0.8em;
  color: #999;
  display: table; }
  [role="contentinfo"] > p {
    display: table-cell;
    vertical-align: middle; }
    [role="contentinfo"] > p:last-child {
      padding-left: 5em; }
  [role="contentinfo"] .schools img {
    max-width: 200px;
    display: block;
    vertical-align: middle; }
  [role="contentinfo"] .schools .gu {
    max-width: 350px;
    position: relative;
    top: 4px; }
  [role="contentinfo"] .schools a {
    float: left;
    margin-right: 2em; }
    [role="contentinfo"] .schools a:hover {
      border: 0;
      opacity: 0.8; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

small {
  font-size: 0.7em;
  color: #999; }

.affix, .affix-top {
  right: 5%; }

.affix {
  position: fixed;
  top: 90px; }

.affix-top {
  position: absolute; }

.scrollspy {
  float: right;
  width: 20%; }
  .scrollspy nav {
    margin-left: -20px; }
  .scrollspy p {
    margin: 0 0 0.5em; }
  .scrollspy .btn-download {
    width: 100%; }
  .scrollspy .download {
    text-align: center;
    margin-bottom: 1.5em; }
    .scrollspy .download small a {
      color: #aaa;
      transition: color 0.2s; }
  .scrollspy:hover .download small a {
    color: #2F8EED; }

[role="main"] {
  width: 66%;
  max-width: 42em; }

[role="navigation"] .active a, [role="navigation"] .active a:hover {
  color: #7846AB;
  border-left: 2px solid #7846AB;
  padding-left: 19px;
  font-weight: 600; }
[role="navigation"] a {
  font-weight: normal;
  color: #999;
  display: block;
  padding: 0.3em 20px;
  border-left: 1px solid transparent; }
  [role="navigation"] a:hover {
    border: 0;
    border-left: 1px solid #dcdbce;
    color: #333; }

.exercises-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .exercises-list [data-toggle='collapse'] {
    font-weight: 600;
    color: #7846AB;
    border: 0;
    border-top: 2px solid #dcdbce;
    display: block;
    padding: 0.6em 0;
    position: relative;
    transition: border-color 0.1s ease; }
    .exercises-list [data-toggle='collapse']:hover::after {
      color: #7846AB; }
    .exercises-list [data-toggle='collapse']::after {
      content: "+";
      display: inline-block;
      position: absolute;
      top: 0.5em;
      right: 1em;
      color: #999; }
  .exercises-list > li:hover > [data-toggle="collapse"], .exercises-list > li:hover + li > [data-toggle="collapse"] {
    border-top-color: #7846AB; }
  .exercises-list > li:last-child > [data-toggle='collapse'] {
    border-bottom: 2px solid #dcdbce; }
  .exercises-list .doc {
    padding: 1.5em 0; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

.collapsing {
  height: 0;
  position: relative;
  overflow: hidden;
  transition: height 0.35s ease; }

/* =BUTTONS
--------------------------------------------- */
.btn, .btn-download, button {
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  padding: 0.6em 1em;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  color: #aa78df;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  transition: color, border-color 0.2s ease-out;
  border: 2px solid #aa78df; }
  .btn:hover, .btn-download:hover, button:hover {
    border-width: 2px;
    border-color: #B845FF;
    color: #B845FF; }
  .btn:active, .btn-download:active, button:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    border-color: #7846AB;
    border-width: 2px;
    color: #7846AB;
    background-color: rgba(120, 70, 171, 0.05); }

